html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    font-size: 1.6em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
   
}

footer {
    font-size: 2rem;
    color: #333;

}



div {
    margin: 40px auto;

}

#grafico-1 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    filter: drop-shadow(8px 8px 8px #333);

}

#grafico-1 img {
    width: 100%;


}


#grafico-2 {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;

    border-bottom: 60px solid purple;
    /* border-top: 60px solid purple;  TRIANGULO PRA BAIXO*/


}

#vetorial {
    width: 200px;
    height: auto;


}

.filtro {
    filter: grayscale(54%);
    filter: blur(2px);
    filter: saturate(200%) invert(110%);

}

.filtro:hover {
    filter:none

}

header h2 {
    filter: drop-shadow(0 0 1px  red);
}